
<h1>{{user.username}}'s Summer Bucket List</h1>
<ul>
  {{#each user.list}}
    List Name: {{name}}
    Completed: {{completed}}
    <a href="/users/{{../user.id}}/lists/{{id}}/edit">Edit This Item</a>
    <form action="/users/{{../user.id}}/lists/{{id}}?_method=DELETE" method="post">
      <input type="submit" value="Delete Item">
    </form>
  {{/each}}
</ul>


<a href="/users/{{user.id}}/lists/new">Add New Item</a>