
<h1 class="header"><a href='/pokemon'>{{name}}</a></h1>


<ul id="list">
		<li>{{name}}</li>
		<li>{{id}}</li>
		<li>{{type}}</li>
		<!-- stats -->
		<li>hp: {{stats.hp}}</li>
		<li>attack: {{stats.attack}}</li>
		<li>defense: {{stats.defense}}</li>
		<li>spattack: {{stats.spattack}}</li>
		<li>spdefense: {{stats.defense}}</li>
		<li>speed: {{stats.speed}}</li>

		<!-- <li>moves: {{moves}} MAKE LINK TO FULL MOVESET</li> -->
		<li><img src="{{img}}" alt=""></li>
</ul>



        <form action="/pokemon/{{id}}?_method=DELETE" method="post">
            <!-- <a class="button" href="/pokemon/{{id}}/edit">Edit</a> -->
            <input class="button" type="submit" value="Delete" />
        </form>
